<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/letter.css">
    <style>
        .background {
            background-image: url('/images/picture.png');
            background-size: cover;
            background-position: center;
            backdrop-filter: blur(5px);
            min-height: calc(100vh - 55px);
        }
    </style>
</head>
<body>
<!--공통부분-->
<header th:replace="~{/template/header.html :: fragment-header}"></header>
<!--공통부분-->
<div class="background">
    <div class="container" style="min-height: calc(100vh - 40px); text-align: center">
        <div class="test-area" style="min-height: calc(100vh - 40px);">
            <form action="/sentence/kr" method="post">
                <h1>일본어 문장 시험지</h1>
                <hr>
                <h1>아래 문장의 뜻을 한국어로 써주세요.</h1>
                <div class="left">
                <div th:each="sentence : ${sentence1}" style="margin-bottom: 30px;">
                    <h1 th:text="${sentenceStat.count}+'. '+${sentence.getJp()}">히라가나</h1>
                    <input type="text" class="answer" name="ans" style="width: 60%; background-color: aliceblue;">
                </div>
        </div>
        <div class="right" >
            <div th:each="sentence : ${sentence2}" style="margin-bottom: 30px;">
                <h1 th:text="${sentenceStat.count+5}+'. '+${sentence.getJp()}">히라가나</h1>
                <input type="text" class="answer" name="ans" style="width: 60%; background-color: aliceblue;">
            </div>
        </div>
                <br>
                <button type="submit" style="border: black solid 2px">제출</button>
            </form>
        </div>
    </div>
</div>
<!--공통부분-->
<div th:replace="~{template/sidebar.html :: fragment-sidbar}"></div>
<th:block th:replace="~{/template/common-scripts.html :: scripts}"></th:block>
<!--공통부분-->
</body>
</html>