<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/letter.css">
    <style>
        .background {
            background-image: url('/images/picture.png');
            background-size: cover;
            background-position: center;
            backdrop-filter: blur(5px);
            min-height: calc(100vh - 55px);
        }
    </style>
</head>
<body>
<!--공통부분-->
<header th:replace="~{/template/header.html :: fragment-header}"></header>
<!--공통부분-->
<div class="background">
    <div class="container" style="min-height: calc(100vh - 40px); text-align: center">
        <div class="test-area" style="min-height: calc(100vh - 40px);">
<form action="/hiragana/kr" method="post">
    <br>
    <h1>ひらがな 시험지</h1>
    <hr>
    <h1>아래 히라가나의 음독을 써주세요.</h1>
    <div class="left" >
        <div th:each="letter : ${hiragana1}" style="margin-bottom: 40px;">
            <h1 th:text="${letterStat.count}+'. '+${letter.getJp()}">히라가나</h1>
            <input type="text" class="answer" name="ans" style="width: 384px; background-color: aliceblue;">
        </div>
    </div>
    <div class="right">
        <div th:each="letter : ${hiragana2}" style="margin-bottom: 40px;">
            <h1 th:text="${letterStat.count+5}+'. '+${letter.getJp()}">히라가나</h1>
            <input type="text" class="answer" name="ans" style="width: 384px; background-color: aliceblue;">
        </div>
    </div>
    <br>
    <br>
    <button type="submit" style="border: black solid 2px">제출</button>
</form>
        </div>
</div>
</div>
<!--공통부분-->
<div th:replace="~{template/sidebar.html :: fragment-sidbar}"></div>
<th:block th:replace="~{/template/common-scripts.html :: scripts}"></th:block>
<!--공통부분-->
</body>
</html>