<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="menu" th:fragment="fragment-sidbar">
    <section>
        <ul class="links">
            <li><a href="/login"><h3>로그인</h3></a></li>
            <li><a href="/logout"><h3>로그아웃</h3></a></li>
            <li><a href="/mypage"><h3>마이페이지</h3></a></li>
            <li><a href="/join"><h3>회원가입</h3></a></li>
        </ul>
    </section>
</section>
</body>
</html>